.btn-outline-light {
    color: var(--light-gold);
    border-color: var(--light-gold);
}

.btn-outline-light:hover {
    background-color: var(--light-gold);
    border-color: var(--light-gold);
}

.about {
    position: relative;
}

.about-overlay {
    position: absolute;
    inset: 0;
}

.about-overlay img {
    width: 33%;
    z-index: 0;
}

.about-content {
    width: 100%;
    z-index: 2;
}

.aboutus {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.knife {
    margin: 2rem 4rem;
}

.knife img {
    max-height: 82vh;
}

.history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.history p, .about p {
    margin: 2rem 0;
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 960px) {
    .about-overlay img {
        width: 42%;
    }

    .knife img {
        max-height: 64vh;
    }
}

@media screen and (max-width: 760px) {
    .about {
        padding: 5%;
    }
}

@media screen and (max-width: 730px) {

    .about-overlay img {
        width: 33%;
    }

    .knife {
        margin: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .about {
        flex-direction: column;
    }

    .knife {
        height: calc(86vw / 8.369);
        margin: 3rem 0;
    }

    .knife img {
        rotate: -90deg;
        max-height: 86vw;
    }
}